body {
  text-align: center;
  background-color: #04001a;
}
span {
  font-size: small;
  font-weight: bold;
}
button,
.btn {

}
img {
  width: 100%;
  height: auto;
}
/* INITIALLY HIDE ELEMENTS  */
#image-preview,
#result_message,
#btn_logout,
#app,
#user_address_container,
#success_message{
  display: none;
}
#app {
  margin-top: 10px;
  height: auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  color: #424242;
}
#success_message {
  background-color: #c4ffc4;
  border: 1px solid #0fcf0f;
  border-radius: 4px;
}
.user_address_container {
  white-space: nowrap; 
  width: auto; 
  overflow: hidden;
  text-overflow: ellipsis; 
  /* border: 1px solid #000000; */
}
.user_address_container:hover {
  overflow: visible;
  cursor: copy;
}
.form_element {
  margin-top: 20px;
}
.title {
  color: #fff;
  margin-top: 10px;
}
.image_wrapper {
  padding: 20px;
  display: flex;
  flex: 1;
}
.nav-tabs {
  padding-bottom: 15px;
  border-bottom: 1px solid #3b82f680;
  justify-content: space-evenly;
}
.nav-tabs .nav-link {
  padding: 12px 20px;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover{
  background-color: #1268f133;
  border-radius: 5px;
  /* border-bottom: none; */
}
.tab-content {
  padding: 20px 0;
}